<nav class="navbar navbar-inverse navbar-fixed-top1" role="navigation">
  <div class="container-fluid">
    
    <div class="navbar-header">
      <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#navbar" aria-expanded="false" aria-controls="navbar">
        <span class="sr-only">Mehr</span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
      </button>
      <a class="navbar-brand" href="/">ɅDAPT</a>
      <p class="navbar-text">An Automated Database Scaling Platform</p>
    </div>

    <div id="navbar" class="navbar-collapse collapse">
      <ul class="nav navbar-nav navbar-right">
        <li>
          <a id="reset-cluster" href="#reset">Reset</a>
        </li>
                
        <li class="<%= @help %>">
          <a href="/help">Hilfe</a>
        </li>
        
        <li>
          <a href="/logout">Logout</a>
        </li>
      </ul>
    </div>

  </div>
</nav>