<!DOCTYPE html>

<html>
  <head>
    <!-- Meta -->
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta name="description" content="">
    <meta name="author" content="">

    <title>ADAPT | <%= @title %></title>

    <!-- Stylesheets -->
    <link rel="stylesheet" href="/comp/bootstrap/dist/css/bootstrap.css">
    <%= css :alternative %>
  </head>
  
  <body class="alternative-body">
    <div class="wrapper">
      <%= yield %>
    </div>

    <!-- JavaScripts -->
    <script src="/comp/jquery/dist/jquery.js"></script>
    <script src="/comp/bootstrap/dist/js/bootstrap.js"></script>
    <script src="/comp/holderjs/holder.js"></script>
    <%= js :app %>
  </body>
</html>