<div id="page-not-found" class="page-not-found">
  <div class="container">
    <h3>Diese Seite existiert leider nicht!</h3>
    
    <br>

    <button id="go-back" class="btn btn-default">
      Zurück
    </button>
  </div>
</div>